[submodule "Projects/Honey/third-party/spdlog"]
	path = Projects/Honey/third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Projects/Honey/third-party/glfw"]
	path = Projects/Honey/third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "Projects/Honey/third-party/glad"]
	path = Projects/Honey/third-party/glad
	url = https://github.com/dSyncro/HoneyGlad
[submodule "Projects/Honey/third-party/ImGui"]
	path = Projects/Honey/third-party/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Projects/Honey/third-party/glm"]
	path = Projects/Honey/third-party/glm
	url = https://github.com/g-truc/glm
